.login-box {
   position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;
   padding: 1em;
}

.header-logo-message {
   color: #d11717;
   font-weight: bold;
}

.login-box input {
   display: block;
   border-radius: 5px;
   margin: 1em auto;
   border: 1px solid #dbdbdb;
   height: 30px;
   width: 300px;
}

.login-box input[type='submit'] {
   background: var(--main-link-color);
   border-color: var(--main-link-color);
   color: white;
   cursor: pointer;
}

.login-box input[type='submit']:hover {
   background-color: var(--main-link-colorHover);
}
