.photo {
   background-color: var(--main-neutral-color);
   border: 1px solid #efefef;
   border-radius: 3px;
   max-width: 550px;
   margin: 2em auto;
}

.photo-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 2%;
}

.photo-user {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 10%;
   margin-left: 0;
   font-weight: bold;
}

.photo-user img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 0.7em;
}

.photo-user a {
   text-decoration: none;
   color: var(--main-link-color);
}

.photo-date {
   color: #999;
}

.photo-src {
   max-width: 100%;
}

.photo-info {
   padding: 1em;
}

.photo-info-likes {
   list-style: none;
}

.photo-info-likes a {
   text-decoration: none;
   color: var(--main-link-color);
   font-weight: bold;
}

.photo-info-likes li {
   display: inline-block;
}

.photo-info-author {
   font-weight: bold;
}

.photo-info-comments {
   list-style: none;
   padding: 0;
   line-height: 1.2;
   border-bottom: 1px solid #efefef;
   padding-bottom: 1em;
}

.comments {
   margin-bottom: 0.6em;
}

.photo-update {
   display: flex;
   padding: 0 1em 1em 1em;
}

.photo-update-like {
   background: url('../../assets//like.png') no-repeat center center;
   background-size: 32px 32px;
   width: 44px;
   height: 44px;
   text-indent: -9999px;
   display: inline-block;
   transition: 0.4s;
   margin-right: 1em;
}

.photo-update-like:hover {
   background-image: url('../../assets/like-check.png');
}

.photo-update-form {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.photo-update-form-input {
   border: 0;
   outline: 0;
   width: 60%;
}

.photo-update-form-submit {
   border: 0;
   background-color: var(--main-link-color);
   color: var(--main-neutral-color);
   height: 2.4em;
   width: 50px;
   border-radius: 10%;
   cursor: pointer;
   transition: 0.4s;
   margin-top: 8px;
}

.photo-update-form-submit:hover {
   background-color: var(--main-link-colorHover);
}
