:root {
   --main-bg-color: #fafafa;
   --main-neutral-color: #fff;
   --main-link-color: #069;
   --main-link-colorHover: #004568;
}

* {
   margin: 0;
   box-sizing: border-box;
   padding: 0;
}

body {
   padding-top: 7vh;
   background: var(--main-bg-color);
}
